body {
  font-family: "Lucidia Sans", Arial, sans-serif;
}

.giftbox {
  display: inline-block;
  float: left;
  width: 148px;
  height: 70px;
  padding: 10px 0;
  text-align: center;
}

.lights {
  background: url('/img/lights.png') no-repeat;
  padding-top: 50px;
}

.complete {
  background-color: #C0C0C0;
}